/* Importing the Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/* Global Styles */
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #F8F9FB;
    background-color: #282929;
    overflow-x: hidden;
}

.flashcard-container {
    width: 50%;
    margin: 5% auto;
    justify-content: center;
}

.flashcard {
    width: 80%;
    height: 100%;
}

.flashcard__review {
    display: flex;
    text-align: center;
    margin: 0 0 0 1%;
}

.flashcard__review p {
    margin: 0 0 0 1%;
}

.flashcard__study-mode ul {
    display: flex;
}

.flashcard__study-mode-list {
    padding: 0;
    justify-content: space-between;
}

.flashcard__study-mode-list li {
    list-style-type: none;
    margin-right: 2%;
    background-color: #363838;
    border: 3px solid transparent;
}

.flashcard__study-mode-list li:last-child {
    margin-right: 0;
}

.flashcard__study-mode-list li:hover {
    border-bottom: 3px solid #50D2C2;
}

.study-mode__item {
    width: 15%;
    padding: 3% 5%;
    border-radius: 10px;
    height: 98%;
}

.study-mode__item .study-mode__icon {
    text-align: center;
    color: #63E6BE;
    font-size: 30px;
}

.study-mode__item .study-mode__text {
    margin-top: 5%;
    text-align: center;
}

.flashcard-slide-front,
.flashcard-slide-back {
    background-color: #363838;
    margin-top: auto;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flashcard-slide-front-quiz,
.flashcard-slide-back-answer {
    font-size: 20px;
    align-content: center;
    background-color: #363838;
    height: 95%;
    margin: 3% 2%;
    border-radius: 5px;
}

.flip-card {
    background-color: transparent;
    perspective: 1200px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 450px;
    transition: transform 0.8s ease-in-out;
    transform-origin: center;
    transform-style: preserve-3d;
}

.flip-card .flip-card-inner.flipped {
    transform: rotateX(180deg);
}

.flashcard-slide-back {
    transform: rotateX(-180deg);
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.swiper-slide-active {
    opacity: 1;
}

.flashcard-tools {
    display: flex;
    height: 50px;
    width: 100%;
    margin-top: 5%;
}

.flashcard-tools__media {
    width: 30%;
}

.flashcard-tools__icon button {
    background-color: transparent;
    border: none;
    height: 50px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 50px;
    margin-right: 2%;
    pointer-events: auto;
}

.flashcard-tools__media button:hover {
    background-color: #363838;
    cursor: pointer;
}

.flashcard-tools__media i {
    font-size: 24px;
}

.flashcard-tools__transition .flashcard-tools__transition--arrow {
    display: inline-block;
    border: 1px solid #363838;
}

.flashcard-tools__transition {
    position: relative;
    display: flex;
    text-align: center;
    width: 40%;
}

.flashcard-tools__expand {
    width: 30%;
    text-align: right;
}

.flashcard-tools__expand button:hover {
    background-color: #363838;
    cursor: pointer;
}

.flashcard-tools__expand i {

    font-size: 24px;
}


.flashcard-tools__transition--counter {
    margin: auto;
}

.flashcard-tools__transition button:hover {
    background-color: #363838;
    cursor: pointer;
}

.flashcard-tools__transition i {
    font-size: 24px;
}

.flashcard__content .flashcard-progressBar {
    height: 50px;
    width: 100%;
    align-content: center;
}

.flashcard__content .flashcard-progressBar .swiper-pagination {
    position: relative;
    width: 100%;
    background-color: #363838;
    color: #63E6BE;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #63E6BE !important;
}